body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

/* Barra lateral */
.sidebar {
    width: 200px;
    background-color: #5DE2E7;
    color: #fff;
    padding: 20px;
    position: fixed;
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
    font-size: 24px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #ddd;
}

/* Contenido principal */
.content {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
}

.tab-content {
    display: none;
}
